/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
  padding-bottom: 40px;
  color: #5a5a5a;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(-45deg, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
background: linear-gradient(135deg, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
/* MARKETING CONTENT
-------------------------------------------------- */
/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}
/* Featurettes
------------------------- */
.featurette-divider {
  margin: 80px 0;
  /* Space out the Bootstrap <hr> more */
}
/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {
  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar-wrapper .navbar {
    padding-left: 0;
    padding-right: 0;
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
  .featurette-heading {
    font-size: 50px;
  }
}
@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

.main-text
{
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #FFF;
}
.btn-min-block
{
    min-width: 170px;
    line-height: 26px;
}
.btn-clear
{
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}
.btn-clear:hover
{
    color: #000;
    background-color: #FFF;
}

.carousel-inner > .item > img{
    margin-left:auto;
    margin-right:auto;
    background:darkgray;
}

.carousel-control {
    width: 8%;
}

.carousel-control.left,
.carousel-control.right{
        background: none repeat scroll 0% 0% #A9A9A9;
}

.info-icon{
    font-size:40px;
}


<!--contact us page.-->

.jumbotron {
background: #358CCE;
color: #FFF;
border-radius: 0px;
}
.jumbotron-sm { padding-top: 24px;
padding-bottom: 24px; }
.jumbotron small {
color: #FFF;
}
.h1 small {
font-size: 24px;
}
address{
float: right;
}

.thumbnail:hover {
    z-index: 500;
    box-shadow: 2px 2px 2px #D2D2D2;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
}

.productinfo{
    min-height: 740px;
}

.productImage{
    min-height: 300px;
}

.logo{
    color:white !important;
}

.infoImage{
    height:100px;
}

.descImage{
    margin-top: 100px;
    margin-left: 100px;
}

.pageTitle{
    letter-spacing: -2px;
    line-height: 1;
    text-shadow: 1px 2px 0 #FFF;
    margin: 0 0 15px;
    font-family: museo-slab,Georgia,"Times New Roman",Times,serif;
    font-size: 40px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #C1D1DE;
    text-shadow: 0px 1px 1px #000;
}

/* bootstrap 3 helpers */

.navbar-form input, .form-inline input {
	width:auto;
}

header {
	height:270px;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
  	margin-top:175px;
  	width:228px;
  }
  
  #sidebar.affix {
    position: fixed;
    top: 175px;
    width:228px;
  }
}

.affix,.affix-top {
   position:static;
}